.overview{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 35% 1fr;

}
.overview-box{
    display: flex;
    justify-content: center;
}
.overview-box1{
    position: relative;
}
.overview-box2{
    position: relative;
}
.-rotate-90{
    height: 100%;
    width: 100%;
}
.progress-circle-div{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.progress-circle-box1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-circle-box2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-circle-box3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.progress-circle-box1 img{
    height: 50px;
}
.progress-circle-box1 p{
    font-weight: var(--bold);
    font-size: var(--lg);
}
.progress-circle-box3 p{
    font-size: var(--md);
}
.emoji{
    height: 15vh ;
}
.circular-progressbar1{
    position: absolute;
    top: 50%; /* Mueve el elemento hacia abajo un 50% de la altura del contenedor */
    left: calc(50% + 12vw); /* Mueve el elemento hacia la derecha un 50% de la anchura del contenedor */
    transform: translate(-50%, -50%); /* Centra el elemento horizontal y verticalmente */
    
    
}
.circular-progressbar2 {
    position: absolute;
    top: 50%; /* Mueve el elemento hacia abajo un 50% de la altura del contenedor */
    left: calc(50% - 12vw); /* Calcula el desplazamiento para centrar y luego mover 30vw hacia la derecha */
    transform: translate(-50%, -50%) scaleX(-1); /* Invierte horizontalmente el elemento y lo centra horizontal y verticalmente */
}
.overview-box1-info{
    width: 180px;
    position: absolute;
    top: 50%; /* Mueve el elemento hacia abajo un 50% de la altura del contenedor */
    left: calc(50% + 7vw); /* Calcula el desplazamiento para centrar y luego mover 30vw hacia la derecha */
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.overview-box2-info{
    width: 180px;
    position: absolute;
    top: 50%; /* Mueve el elemento hacia abajo un 50% de la altura del contenedor */
    left: calc(50% - 7vw); /* Calcula el desplazamiento para centrar y luego mover 30vw hacia la derecha */
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.overview-box1 p{
    font-size: var(--lg);
}
.overview-box2 p{
    font-size: var(--lg);
}
.overview-box1 img{
    height: 50px;
}

.overview-box2 img{
    height: 50px;
}
