.overview{
    position: relative;
    background-color: rgb(227, 162, 162);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 35% 1fr;

}
.overview-box{
    display: flex;
    justify-content: center;
    border: 1px solid black;
}
.overview-box1{
    position: relative;
}
.overview-box2{
    position: relative;
}
.-rotate-90{
    height: 100%;
    width: 100%;
}
.circular-progressbar1{
    position: absolute;
    top: 50%; /* Mueve el elemento hacia abajo un 50% de la altura del contenedor */
    left: calc(50% + 15vw); /* Mueve el elemento hacia la derecha un 50% de la anchura del contenedor */
    transform: translate(-50%, -50%); /* Centra el elemento horizontal y verticalmente */
    
    
}
.circular-progressbar2 {
    position: absolute;
    top: 50%; /* Mueve el elemento hacia abajo un 50% de la altura del contenedor */
    left: calc(50% - 15vw); /* Calcula el desplazamiento para centrar y luego mover 30vw hacia la derecha */
    transform: translate(-50%, -50%) scaleX(-1); /* Invierte horizontalmente el elemento y lo centra horizontal y verticalmente */
}
